<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Film's Organizer</title>

    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    
    <div id="title">
        <p>Film's</p>
        <p>Organizer</p>
    </div>
    <div id="name">
        <p>By Tulio Ruzo</p>
    </div>
    <div class="button_container">
            <a href="/search"><button class="btn"><span>Get Started!</span></button></a>
          <!--<p class="link">
            Design by 
            <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
          </p>-->
    </div>

</body>
</html>